#navbar_plugin_navbarclock .navbar-text {
  padding-right: 0.5em;
  padding-left: 0.5em;
  cursor: default;
}
#navbar_plugin_navbarclock a {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
}

#navbar_plugin_navbarclock .popover {
  width: auto !important;
}
#navbar_plugin_navbarclock .popover table {
  width: auto !important;
  table-layout: auto !important;
}
#navbar_plugin_navbarclock .popover td {
  width: auto !important;
  white-space: nowrap;
}
#navbar_plugin_navbarclock .popover td:last-child {
  padding-left: 1em;
}

html:not(.UICCustomTheme) #navbar_plugin_navbarclock .navbar-text {
    color: inherit;
}

/* Standard colors for styling - we have ThemeifyOff to tell us when themeify is not running*/
.navbar-inner.blue #navbar_plugin_navbarclock.ThemeifyOff .navbar-text,
.navbar-inner.red #navbar_plugin_navbarclock.ThemeifyOff .navbar-text,
.navbar-inner.orange #navbar_plugin_navbarclock.ThemeifyOff .navbar-text,
.navbar-inner.yellow #navbar_plugin_navbarclock.ThemeifyOff .navbar-text,
.navbar-inner.violet #navbar_plugin_navbarclock.ThemeifyOff .navbar-text,
.navbar-inner.black #navbar_plugin_navbarclock.ThemeifyOff .navbar-text{
  color: #f2f2f2;
}
.navbar-inner.white #navbar_plugin_navbarclock.ThemeifyOff .navbar-text {
  color: #333;
}
.navbar-inner.black #navbar_plugin_navbarclock.ThemeifyOff .navbar-text {
  text-shadow: 0 1px 0 #5e5e5e;
}
.navbar-inner.white #navbar_plugin_navbarclock.ThemeifyOff .navbar-text {
  text-shadow: 0 1px 0 #c8c8c8;
}
.navbar-inner.red #navbar_plugin_navbarclock.ThemeifyOff .navbar-text {
  text-shadow: 0 1px 0 #d86761;
}
.navbar-inner.blue #navbar_plugin_navbarclock.ThemeifyOff .navbar-text {
  text-shadow: 0 1px 0 #1a66ff;
}
.navbar-inner.green #navbar_plugin_navbarclock.ThemeifyOff .navbar-text {
  text-shadow: 0 1px 0 #50da00;
}
.navbar-inner.yellow #navbar_plugin_navbarclock.ThemeifyOff .navbar-text {
  text-shadow: 0 1px 0 #c2b00c;
}
.navbar-inner.orange #navbar_plugin_navbarclock.ThemeifyOff .navbar-text {
  text-shadow: 0 1px 0 #f6a570;
}
.navbar-inner.violet #navbar_plugin_navbarclock.ThemeifyOff .navbar-text {
  text-shadow: 0 1px 0 #a774ff;
}

/* themify themes */
.themeify #navbar_plugin_navbarclock .navbar-text{
  text-shadow: none;
}
.themeify.discorded #navbar_plugin_navbarclock .navbar-text {
  color: #dadadc;
}

.themeify.material_ui_light #navbar_plugin_navbarclock .navbar-text{
  color: #000;
}

.themeify.cyborg #navbar_plugin_navbarclock .navbar-text{
  color: #000;
}

.themeify.discoranged #navbar_plugin_navbarclock .navbar-text{
  color: #fc8003;
}

.themeify.dyl #navbar_plugin_navbarclock .navbar-text{
  color: #fff;
}

.themeify.nighttime #navbar_plugin_navbarclock .navbar-text{
  color: #bac0c6;
}
