<div class="navbar-text" data-bind="popover: {placement: 'bottom', trigger: 'hover', html: true, title: 'Current Time', content: popoverContent}">
  <span id="navbar_clock" data-bind="html: timeStr"></span>
</div>
